.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  background-color: #E6D7D5;
  max-width: 300px;
}

.weather img {
  width: 52px;
}

.weather .temperature {
  font-size: large;
  text-align: center;
}