.BottomBar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2%;
  background-color: #00B0FF;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items : center;
  flex-direction: row-reverse;
  box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.2), 0px -4px 5px 0px rgba(0,0,0,0.14), 0px -1px 10px 0px rgba(0,0,0,0.12);
}